.btn__container:hover .slide__btn{
	color: #fff;
}

.btn__container:hover .slide__btn::before {
	transform: translateX(0);
}

.body:has(#theme__checkbox:checked) .slide__btn:hover {
	color: #212529;
}

.body:has(#theme__checkbox:checked) .slide__btn:hover:before {
	transform: translateX(0);
}