*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}

body {
	background: #f9f8fa;
	color: #212529;
	font: 1.6rem/1.5 'Manrope', 'Inter', 'Roboto', sans-serif, serif;
	margin-left: auto;
	margin-right: auto;
	width: 375px;
	padding-bottom: 84px;
}

a {
	color: inherit;
	text-decoration: none;
}