.header {
	border-bottom: 1px solid #DEE2E6;
}

.nav {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 1.6rem;
}

#menu__btn {
	display: none;
}

.menu__icon {
	display: block;
	position: absolute;
	top: 16px;
	left: 16px;
	height: 18px;
	width: 18px;
}

.navicon {
	transition: transform .15s linear .15s;
	display: block;
	background: #333;
	position: absolute;
	height: 2px;
	width: 18px;
	top: 9px;
}

.navicon::before,
.navicon::after {
	transition: top .15s linear .15s, transform .15s linear .15s;
	background: #333;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: block;
}

.navicon::before {
	transform: translateY(5px);
}

.navicon::after {
	transform: translateY(-5px);
}

.menu {
	transition: transform .15s linear .15s;
	position: absolute;
	top: 36px;
	left: 0;
	transform: translateX(-80px);
}

#menu__btn:checked + .menu__icon .menu {
	transform: translateX(0);
}

#menu__btn:checked + 
.menu__icon .navicon {
	transform: rotate(45deg);
}

#menu__btn:checked + 
.menu__icon .navicon::before {
	transform: translateY(0) rotate(-90deg);
}

#menu__btn:checked + 
.menu__icon .navicon::after {
	transform: translateY(0) scale(0);
}

