/* Dark theme */

.body:has(#theme__checkbox:checked) {
    background: #212529;
    color: #dee2e6;
}

#theme__checkbox:checked + .theme__label.fa-moon {
    transform: translateX(100%);
}

#theme__checkbox:checked + .theme__label .fa-sun {
    color: #dee2e6;
    transform: translateX(0);
}

.body:has(#theme__checkbox:checked) .hero__span1 {
	color: #f8f9fa;
}

.body:has(#theme__checkbox:checked) .hero__span2 {
	color: #dee2e6;
}

.body:has(#theme__checkbox:checked) .hero__btn {
	color: #f8f9fa;
}

.body:has(#theme__checkbox:checked) .hero__btn::before {
    background: #dee2e6;
}

.body:has(#theme__checkbox:checked) .btn__icon {
	background: #dee2e6;
	color: #212529;
}

.body:has(#theme__checkbox:checked) .bottom-nav {
	background: #212529;
    box-shadow: 0 0 8px #6c757d;
}

.body:has(#theme__checkbox:checked) .current-page .fa-stack-2x {	
    color: #f8f9fa;
}
 
.body:has(#theme__checkbox:checked) .current-page .fa-stack-1x {
    color: #212529;
}

.body:has(#theme__checkbox:checked) .fa-stack-2x {
	color: #6c757d;
}

.body:has(#theme__checkbox:checked) .fa-stack-1x {
    color: #dee2e6;

}

.body:has(#theme__checkbox:checked) .blog-content__container {
    background: #6c757d;
}

.body:has(#theme__checkbox:checked) .h2 {
    color: #f8f9fa;
}

/* Media queries */

@media all and (width >= 576px) {
    .body {
        max-width: 576px;
    }

    .blog {
        width: auto;
    }

    /* .blog-img__container {
        justify-content: center;
    } */

    .contact {
        width: 576px;
    }

    .menu {
        max-width: 576px;
    }
}

@media all and (width >= 768px) {
    .body {
        max-width: 768px;
    }

    .menu {
        max-width: 768px;
    }

    .blog-h2 {
        padding-left: 6.4rem;
        padding-right: 6.4rem;
    }

    .blog-blurb {
        padding-left: 6.4rem;
        padding-right: 6.4rem;
    }
}

@media all and (width >= 1200px) {
    .body {
        max-width: 960px;
    }

    .menu {
        max-width: 960px;
    }

    .blog-h2 {
        padding-left: 12.8rem;
        padding-right: 12.8rem;
    }

    .blog-blurb {
        padding-left: 12.8rem;
        padding-right: 12.8rem;
    }
}

.hero__btn:hover {
    cursor: pointer;
}

