.hero__span1 {
	color: #212529;
}

.hero__span2 {
	color: #6c757d;
}

.hero__btn {
	color: #6c757d;
}


.btn__icon {
	background: #dee2e6;
	color: #fff;
}

.fa-stack-2x {
	color: #fff;
}

.fa-stack-1x {
	color: #dee2e6
}